<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>aaa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- App favicon -->

  <!-- App css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../style/bootstrap.min.css">
  <link rel="stylesheet" href="../style/icons.min.css">

  <link href="../style/theme-style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<!-- Begin page -->
<div id="wrapper">

  <!-- Topbar Start -->
  <div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">
      <li class="dropdown notification-list">
        <a href="#" class="nav-link right-bar-toggle waves-effect waves-light">
          <i class="fe-power noti-icon"></i>
        </a>
      </li>
      <li class="dropdown notification-list">
        <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
          <img src="../images/nav-user.png" alt="user-image" class="rounded-circle">
          <span class="pro-user-name ">

          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown">
          <!-- item-->
          <div class="dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome !</h6>
          </div>

          <!-- item-->
          <a href="#" class="dropdown-item notify-item">
            <i class="fe-user"></i>
            <span>My Account</span>
          </a>


          <!-- item-->
          <a href="#" class="dropdown-item notify-item">
            <i class="fe-lock"></i>
            <span>Lock Screen</span>
          </a>

          <div class="dropdown-divider"></div>

          <!-- item-->
          <a href="#" class="dropdown-item notify-item">
            <i class="fe-log-out"></i>
            <span>Logout</span>
          </a>

        </div>
      </li>


    </ul>

    <!-- LOGO -->
    <div class="logo-box">
    </div>
    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
      <li>
        <button class="button-menu-mobile waves-effect waves-light">
          <i class="fe-menu"></i>
        </button>
      </li>
    </ul>
  </div>
  <!-- end Topbar -->
  <!-- ========== Left Sidebar Start ========== -->
  <div class="left-side-menu">
    <div class="slimscroll-menu">
      <!--- Sidemenu -->
      <div id="sidebar-menu">
        <ul class="metismenu" id="side-menu">
          <li>
            <!-- LOGO -->
            <div class="logo-box">
              <a href="#" class="logo text-center">
        <span class="logo-lg">
            <img src="../images/theme-logo.png" alt="" >
        </span>
                <span class="logo-sm">
            <img src="../images/theme-logo.png" alt="">
        </span>
              </a>
            </div>
          </li>
          <li>
            <a href="javascript: void(0);">
              <i class="fe-airplay"></i>
              <span class="badge badge-success badge-pill float-right">4</span>
              <span> Dashboards </span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
              <li>
                <a href="index.html">Dashboard 1</a>
              </li>
            </ul>
          </li>
          <li class="menu-title mt-2">Components</li>
          <li>
            <a href="javascript: void(0);">
              <i class="fe-briefcase"></i>
              <span> UI Elements </span>
              <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
              <li>
                <a href="ui-buttons.html">Buttons</a>
              </li>
              <li>
                <a href="ui-cards.html">Cards</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Sidebar -->
      <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
  </div>
  <!-- Left Sidebar End -->

  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->

  <div class="content-page">
    <div class="content">

      <!-- Start Content-->
      <div class="container-fluid">



      </div> <!-- container -->

    </div> <!-- content -->

    <!-- Footer Start -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            2019 Dummy <a href="#">Farhan</a>
          </div>
          <div class="col-md-6">
            <div class="text-md-right footer-links d-none d-sm-block">
              <a href="#">About Us</a>
              <a href="#">Help</a>
              <a href="#">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- end Footer -->

  </div>

  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->


</div>
<!-- END wrapper -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js" integrity="sha256-Y8l+EeoUOvr8SqEj/gTyjBb8CqhtrA6GU9P4yB+41cE=" crossorigin="anonymous"></script><script src="https://unpkg.com/aos@next/dist/aos.js"></script>


<!-- Vendor js -->
<script src="../javascript/jquer.js"></script>

<!-- App js-->
<script src="../javascript/javascript.js"></script>

</body>

</html>
